PATH_add cli

activate_path=.venv/bin/activate
if [[ -e $activate_path ]]
then
    source $activate_path
else
  :
fi

source_env_if_exists .envrc2
source_env_if_exists .envrc.local
dotenv_if_exists .env
dotenv_if_exists .env.local

unset PS1
